<div class="container-fluid px-4">
  <header id="topbar" class="alt">
  
    <div class="row mb-4">
      <div class="col-md-12">
        <nav id="topbar" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="dashboard">
                <span class="fa fa-home"></span> Panel Principal
              </a>
            </li>
            <li class="breadcrumb-item">Reportes</li>
            <li class="breadcrumb-item">Emisión</li>
            <li class="breadcrumb-item active">Operaciones</li>
          </ol>
        </nav>
      </div>
    </div>
  </header>
  
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="row">
      <!-- component.html -->
      <select multiple 
              (change)="onSelectionChange()"
              class="form-control">
        <option *ngFor="let opcion of opciones" [value]="opcion.id">
          {{ opcion.nombre }}
        </option>
      </select>
      <div class="col-md-4">
        <div class="form-group">
          <label for="cuenta">Cuenta:</label>
          <select id="cuenta" formControlName="cuenta" class="form-control">
            <option value="">Seleccione una cuenta</option>
            <option *ngFor="let cuenta of cuentas" [value]="cuenta.id">
              {{ cuenta.nombre }} - {{ cuenta.numero }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="estatus">Estatus:</label>
          <select id="estatus" formControlName="estatus" class="form-control">
            <option value="">Seleccione un estatus</option>
            <option *ngFor="let estatus of estatusOptions" [value]="estatus.value">
              {{ estatus.label }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="tipoOperacion">Tipo de Operación:</label>
          <select id="tipoOperacion" formControlName="tipoOperacion" class="form-control">
            <option value="">Seleccione un tipo de operación</option>
            <option *ngFor="let tipo of tiposOperacion" [value]="tipo.idOperationType">
              {{ tipo.name }} 
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="fechaInicio">Fecha Inicio:</label>
          <input 
            type="date" 
            id="fechaInicio" 
            formControlName="fechaInicio" 
            class="form-control"
            [max]="formulario.get('fechaFin')?.value">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="fechaFin">Fecha Fin:</label>
          <input 
            type="date" 
            id="fechaFin" 
            formControlName="fechaFin" 
            class="form-control"
            [min]="formulario.get('fechaInicio')?.value">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="form-buttons">
      <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">
        Enviar
      </button>
      <button type="button" class="btn btn-secondary" (click)="limpiarFormulario()">
        Limpiar
      </button>
    </div>
  </form>

  <div class="form-value-preview">
    <div class="table-responsive" style=" overflow: auto;">
      <table id="" class="table table-bordered table-striped" cellspacing="0" width="100%">              
        <thead class="bg-darkn">
          <tr>
              <th class="va-m">Id</th>
              <th class="va-m">Tipo</th>
              <th class="va-m">Monto</th>
              <th class="va-m">Estatus</th>
              <th class="va-m">Descripción</th>
              <th class="va-m">Fecha</th>
              <th class="va-m">Codigo de Respuesta</th>
              <th class="va-m">Referencia numerica</th>
              <th class="va-m">Referencia Alfanumerica</th>
              <th class="va-m">Nombre del Destinatario</th>
              <th class="va-m">Id Destinatario</th>
              <th class="va-m">targetIDCode</th>
              <th class="va-m">targetEmail</th>
              <th class="va-m">Referencia Interna</th>
              <th class="va-m">Referencia Externa</th>
              <th class="va-m">TransactionBundler</th>
              <th class="va-m">Observación</th>
              <th class="va-m">Usuario</th>
              <th class="va-m">Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let operacion of operaciones">
            <td>{{ operacion.id }}</td>
            <td>{{ operacion.descriptionType }}</td>
            <td>{{ operacion.amount }}</td>
            <td>{{ operacion.description }}</td>
            <td>{{ operacion.createdAt }}</td>
            <td>{{ operacion.responseCode }}</td>
            <td>{{ operacion.numericReference }}</td>
            <td>{{ operacion.alphanumericReference }}</td>
            <td>{{ operacion.targetName }}</td>
            <td>{{ operacion.targetID }}</td>
            <td>{{ operacion.targetIDCode }}</td>
            <td>{{ operacion.targetEmail }}</td>
            <td>{{ operacion.internalReference }}</td>
            <td>{{ operacion.externalReference }}</td>
            <td>{{ operacion.transactionBundler }}</td>
            <td>{{ operacion.observation }}</td>
            <td>{{ operacion.targetName }}</td>
            <td>{{ operacion.amount }}</td>
            
            <td>{{ operacion.amount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>