<div class="container-fluid px-4">
  <div class="card">
    <form class=" card-body allcp-form" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-sm-12 col-lg-5 col-md-5">
                <div class="form-group">
                    <label for="exampleSelectRounded0">Entidad</label>
                    <select class="searchFil form-control custom-select rounded-0" id="idContext" name="idContext">
                    <option value=""></option>                
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-lg-5 col-md-5">
                <div class="form-group">
                    <label for="exampleSelectRounded0">Tarjeta/Telefóno/Correo Electrónico </label>
                    
                </div>
            </div>
            <div class="col-sm-12 col-lg-2 col-md-2">
                <a id="searchCard" style="margin-top: 20px;" class="btn btn-block btn-azul"><i class="fas fa-search"></i> Buscar</a>
            </div>
        </div>
    </form>
  </div>

  <div class="form-value-preview card">
    <div class="table-responsive card-body" style=" overflow: auto;">
        <div class="card-container">
            <img src="../../../../public/tarjetakash.png" alt="" class="card-img" />  
            <div class="card-number" id="cardNumberDisplay">
                #### #### #### ####
            </div>
            <div class="card-name" id="cardNameDisplay">
            </div>
        </div>
    </div>
  </div>
</div>