
  <form  id="formulario" [formGroup]="formulario" (ngSubmit)="enviarForm($event)">
    <div [hidden]="!mostrarForm" class=" grid grid-cols-1 gap-6 xl:grid-cols-1">  

      <div class="bg-white border border-gray-200 dark:bg-white/[0.03] dark:border-gray-800 rounded-2xl">
        <div class="card account-info">
          <div class="max-w-full overflow-x-auto">
            <table class="w-full">
              <tbody class="divide-y divide-gray-100 dark:divide-white/[0.05]">
                <tr>
                  <td style="text-align: center;">
                    <img style="max-width: 10%; text-align: center !important;display: inline-block;" class="logoPago" src="iconos/Pagos a distancia/linkPago.png">
                  
                    <h4 style="font-size: 20px;color: #807b7b;" class="mt-2  dark:text-white/90"><span class="text-dorado">Link</span> de pago</h4>
                    <p style="text-align: center;margin-top: 20px;">"Complete todos los campos requeridos para continuar el proceso de pago".</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>      
        </div>
      </div>

      <div style="margin-top: 20px;" class="">
        <div class="grid grid-cols-1 gap-6 xl:grid-cols-2">  
          <div class="mt10">
            <app-label>Número de teléfono móvil* </app-label>
            <input id="tel" name="tel" [maxLength]="10" class="h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30 bg-transparent text-gray-800 border-gray-300 focus:border-brand-300 focus:ring-brand-500/20 dark:border-gray-700 dark:focus:border-brand-800" type="text">
          </div>
          <div class="mt10">
            <app-label >Correo Electrónico* </app-label>
            <app-input-field name="email" id="email" type="email"></app-input-field>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-6 xl:grid-cols-2">  
          <div class="mt10">
            <app-label>Tipo de notificación* </app-label>
            <select class="form-select ng-pristine ng-valid ng-touched">
              

            </select>
          </div>
          <div class="mt10">
            <app-label>Nombre* </app-label>
            <app-input-field type="text" name="nombre" id="nombre"></app-input-field>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-6 xl:grid-cols-2">  
          <div class="mt10">
            <app-label>Apellido Paterno* </app-label>
            <app-input-field type="text" name="aPaterno" id="aPaterno"></app-input-field>
          </div>
          <div class="mt10">
            <app-label>Apellido Materno* </app-label>
            <app-input-field type="text" name="aMaterno" id="aMaterno"></app-input-field>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-6 xl:grid-cols-2">  
          <div class="mt10">
            <app-label>Productos </app-label>
            <app-input-field  type="text" name="productos" id="productos"></app-input-field>
          </div>
          <div class="mt10">
            <app-label>Referencia del comercio* </app-label>
            <app-input-field  type="text" name="refComercio" id="refComercio"></app-input-field>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-6 xl:grid-cols-2">  
          <div class="mt10">
            <app-label>Referencia 1* </app-label>
            <app-input-field type="text" name="ref1" id="ref1"></app-input-field>
          </div>
          <div class="mt10">
            <app-label>Referencia 2* </app-label>
            <app-input-field type="text" name="ref2" id="ref2"></app-input-field>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-6 xl:grid-cols-2">  
          <div class="mt10">
            <app-label>Concepto* </app-label>
            <app-input-field id="concepto" type="text" name="concepto"></app-input-field>
          </div>
          <div class="mt10">
            <app-label>Fecha de vencimiento* </app-label>
             <div class="relative">
              <input
                #dateInput
                [id]="fechaVen"
                class="h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3  dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30  bg-transparent text-gray-800 border-gray-300 focus:border-brand-300 focus:ring-brand-500/20 dark:border-gray-700  dark:focus:border-brand-800"
                autocomplete="off"
              />
              <span class="absolute text-gray-500 -translate-y-1/2 pointer-events-none right-3 top-1/2 dark:text-gray-400">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="size-6"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8.41421 2 8.75 2.33579 8.75 2.75V3.75H15.25V2.75C15.25 2.33579 15.5858 2 16 2C16.4142 2 16.75 2.33579 16.75 2.75V3.75H18.5C19.7426 3.75 20.75 4.75736 20.75 6V9V19C20.75 20.2426 19.7426 21.25 18.5 21.25H5.5C4.25736 21.25 3.25 20.2426 3.25 19V9V6C3.25 4.75736 4.25736 3.75 5.5 3.75H7.25V2.75C7.25 2.33579 7.58579 2 8 2ZM8 5.25H5.5C5.08579 5.25 4.75 5.58579 4.75 6V8.25H19.25V6C19.25 5.58579 18.9142 5.25 18.5 5.25H16H8ZM19.25 9.75H4.75V19C4.75 19.4142 5.08579 19.75 5.5 19.75H18.5C18.9142 19.75 19.25 19.4142 19.25 19V9.75Z" fill="currentColor"></path></svg>
              </span>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-6 xl:grid-cols-2">  
          <div class="mt10">
            <app-label>Forma de pago*</app-label>
            <app-select
            name="filtros"
            id="filtros"
            [options]="optionPago()"
            placeholder=""
            (valueChange)="handleSelectChangePago($event)"
            className="dark:bg-dark-900"
            ></app-select>

          </div>
          <div class="mt10">
            <app-label>Monto* </app-label>
            <app-input-field type="text" name="monto" id="monto"></app-input-field>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-6 xl:grid-cols-2">  
          <div class="mt10">
            <div class="flex items-center gap-3">
              <app-checkbox
                name="msi" 
                id="msi"
              ></app-checkbox>
              <span class="block text-sm font-medium text-gray-700 dark:text-gray-400">
                Habilitar MSI
              </span>
            </div>
          </div>
          <div class="mt10">
            <div class="flex items-center gap-3">
              <app-checkbox
                name="propina" 
                id="propina"
              ></app-checkbox>
              <span class="block text-sm font-medium text-gray-700 dark:text-gray-400">
                Habilitar Propina
              </span>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-6 xl:grid-cols-2"> 
          <div  class="mt10"> </div>
          <div  class="mt10"> 
            <button (click)="verBotones()" [disabled]="loading()" id="btn-ver-botones" class="btn-azul inline-flex items-center justify-center gap-3 py-3 text-sm font-normal  transition-colors rounded-lg px-7 hover:bg-gray-200 hover:text-gray-800 dark:bg-white/5 dark:text-white/90 dark:hover:bg-white/10">
              Enviar
            </button>
          </div>
        </div>
      </div>
    </div>
  

    <div class=" grid grid-cols-1 gap-6 xl:grid-cols-1">  
      <div [hidden]="!mostrarDiv" id="informacion" style="margin-top: 20px;">
        <div class="botones grid grid-cols-1 gap-6 xl:grid-cols-1">
          <div>
            <h4 style="text-align: center;  font-size: 30px;" class="text-dorado">¡Personaliza tu link de negocio! Crea tu propio botón de pago. </h4>
            <p style="margin-top: 20px;">Selecciona el tipo de botón que deseas establecer a tus cobros.</p>
          </div>
        </div>
        
        <div style="margin-top: 20px;" class="botones grid grid-cols-4 gap-6 xl:grid-cols-4">        
          <div>
            <div (click)="parentClick()" class="btn-select" data-clase="btn-azul">
              <a class="btn-azul inline-flex items-center justify-center gap-3 py-3 text-sm font-normal  transition-colors rounded-lg px-7 hover:bg-gray-200 hover:text-gray-800 dark:bg-white/5 dark:text-white/90 dark:hover:bg-white/10">Pagar con Kashpay</a>
            </div>
          </div>
          <div>
            <div (click)="parentClick()" class="btn-select" data-clase="btn-azul-degradado">
              <a class="inline-flex items-center justify-center gap-3 py-3 text-sm font-normal  transition-colors rounded-lg px-7 hover:bg-gray-200 hover:text-gray-800 dark:bg-white/5 dark:text-white/90 dark:hover:bg-white/10 btn-azul-degradado">Pagar con Kashpay</a>
            </div>
          </div>
          <div class="">
            <div (click)="parentClick()" class="btn-select" data-clase="btn-blanco">
              <a class="inline-flex items-center justify-center gap-3 py-3 text-sm font-normal  transition-colors rounded-lg px-7 hover:bg-gray-200 hover:text-gray-800 dark:bg-white/5 dark:text-white/90 dark:hover:bg-white/10 btn-blanco">Pagar con Kashpay</a>
            </div>
          </div>
          <div class="">
            <div (click)="parentClick()" class="btn-select" data-clase="btn-blanco-sombra">
              <a class="inline-flex items-center justify-center gap-3 py-3 text-sm font-normal  transition-colors rounded-lg px-7 hover:bg-gray-200 hover:text-gray-800 dark:bg-white/5 dark:text-white/90 dark:hover:bg-white/10 btn-blanco-sombra">Pagar con Kashpay</a>
            </div>
          </div>
        </div>

        <div style="height:30px;"></div>

        <div class="botones grid grid-cols-4 gap-6 xl:grid-cols-4">                      
          <div class="">
            <div (click)="parentClick()" class="btn-select" data-clase="btn-azul-redondo">
              <a class="inline-flex items-center justify-center gap-3 py-3 text-sm font-normal  transition-colors rounded-lg px-7 hover:bg-gray-200 hover:text-gray-800 dark:bg-white/5 dark:text-white/90 dark:hover:bg-white/10 btn-azul-redondo">Pagar con Kashpay</a>
            </div>
          </div>
          <div class="">
            <div (click)="parentClick()" class="btn-select" data-clase="btn-blanco-redondo">
              <a class="inline-flex items-center justify-center gap-3 py-3 text-sm font-normal  transition-colors rounded-lg px-7 hover:bg-gray-200 hover:text-gray-800 dark:bg-white/5 dark:text-white/90 dark:hover:bg-white/10 btn btn-blanco-redondo">Pagar con Kashpay</a>
            </div>
          </div>
          <div class="">
            <div (click)="parentClick()" class="btn-select" data-clase="btn-blanco-sombra-redondo">
              <a class="inline-flex items-center justify-center gap-3 py-3 text-sm font-normal  transition-colors rounded-lg px-7 hover:bg-gray-200 hover:text-gray-800 dark:bg-white/5 dark:text-white/90 dark:hover:bg-white/10 btn-blanco-sombra-redondo">Pagar con Kashpay</a>
            </div>
          </div>                  
        </div>
        <div style="height:90px;"></div>
              
        <div class="botones grid grid-cols-2 gap-6 xl:grid-cols-2">                      
          <div>
            <button (click)="ocultarBotones()" type="button" id="btn-back-btn" class="btn-dorado inline-flex items-center justify-center gap-3 py-3 text-sm font-normal  transition-colors rounded-lg px-7 hover:bg-gray-200 hover:text-gray-800 dark:bg-white/5 dark:text-white/90 dark:hover:bg-white/10 btn-dorado">ATRAS</button>
          </div>
          <div>
            <button [disabled]="loading()" type="submit" id="btn-add-btn" class="btn-azul inline-flex items-center justify-center gap-3 py-3 text-sm font-normal  transition-colors rounded-lg px-7 hover:bg-gray-200 hover:text-gray-800 dark:bg-white/5 dark:text-white/90 dark:hover:bg-white/10 btn-azul">GENERAR</button>
          </div>
        </div>
            
      </div>
    </div>
  </form>
  
